{{> header}}
  
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut at accusantium, nisi tempore necessitatibus sequi minima dignissimos aliquam ipsum harum placeat totam numquam, illo nostrum reiciendis est illum soluta vero.</p>

{{> footer}}
